// $colors: (
//     neutral: (
//         light: white,
//         normal: grey,
//         dark: black,
//     ),
//     primary: (
//         light: lightblue,
//         normal: blue,
//         dark: darkblue,
//     ),
//     secondary: (
//         light: lightgreen,
//         normal: green,
//         dark: darkgreen,
//     ),
// );

$colors: (
    neutral: (
        100: #fff,
        900: #1f3049,
    ),
    primary: (
        400: #0066ff,
    ),
);